In [24]:
import pandas as pd
from google.colab import files

In [19]:
la_reviews_df  = pd.read_csv("/content/la_reviews.csv")
nyc_reviews_df  = pd.read_csv("/content/nyc_reviews.csv")
austin_reviews_df  = pd.read_csv("/content/austin_reviews.csv")
chicago_reviews_df  = pd.read_csv("/content/chicago_reviews.csv")

In [31]:
concatenated_df = pd.concat([la_reviews_df, nyc_reviews_df, austin_reviews_df, chicago_reviews_df], axis=0)

In [32]:
concatenated_df

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,109,449036,2011-08-15,927861,Edwin,The host canceled my reservation the day befor...
1,45392,270172,2011-05-18,92047,Kristin,Olivia helped me with directions to arrive & l...
2,45392,377312,2011-07-16,323103,Jessie,Olivia was incredibly helpful and knowledgable...
3,109,74506539,2016-05-15,22509885,Jenn,Me and two friends stayed for four and a half ...
4,2708,13994902,2014-06-09,10905424,Kuberan,i had a wonderful stay. Everything from start ...
...,...,...,...,...,...,...
316773,638566428861724511,640567800673543417,2022-06-02,461847266,Zoltan,Gabe was a great host. His apartment was clean...
316774,638566428861724511,642783790945054382,2022-06-05,439783703,Michael,Perfect location for what I wanted to do. Went...
316775,638566428861724511,644145189443851645,2022-06-07,436467589,Mary,The directions he gave were clear and everythi...
316776,639686013457311636,644179470202282321,2022-06-07,1729799,Caron,Great place inside. Comfortable beds and is ni...
316777,640034142960477648,643504953813785838,2022-06-06,236876009,Julioo,Perfect place to stay ..<br/>Close to Chicago ...

In [33]:
concatenated_df.columns

Index(['listing_id', 'id', 'date', 'reviewer_id', 'reviewer_name', 'comments'], dtype='object')

In [34]:
print(concatenated_df.isnull().sum())

listing_id         0
id                 0
date               0
reviewer_id        0
reviewer_name      5
comments         425
dtype: int64

In [35]:
concatenated_df.drop(concatenated_df[concatenated_df['comments'].isnull()].index, inplace=True)

In [40]:
concatenated_df.drop(concatenated_df[concatenated_df['reviewer_name'].isnull()].index, inplace=True)

In [41]:
print(concatenated_df.isnull().sum())

listing_id       0
id               0
date             0
reviewer_id      0
reviewer_name    0
comments         0
dtype: int64

In [42]:
print(concatenated_df.dtypes)

listing_id        int64
id                int64
date             object
reviewer_id       int64
reviewer_name    object
comments         object
dtype: object

In [ ]:
concatenated_df

In [43]:
concatenated_df['date'] = pd.to_datetime(concatenated_df['date'])

In [44]:
print(concatenated_df.dtypes)

listing_id                int64
id                        int64
date             datetime64[ns]
reviewer_id               int64
reviewer_name            object
comments                 object
dtype: object

In [47]:
concatenated_df.rename(columns={'id': 'rev_id'}, inplace=True)

In [49]:
concatenated_df['rev_id'].nunique()

1978734

In [50]:
concatenated_df

,listing_id,rev_id,date,reviewer_id,reviewer_name,comments
0,109,449036,2011-08-15,927861,Edwin,The host canceled my reservation the day befor...
1,45392,270172,2011-05-18,92047,Kristin,Olivia helped me with directions to arrive & l...
2,45392,377312,2011-07-16,323103,Jessie,Olivia was incredibly helpful and knowledgable...
3,109,74506539,2016-05-15,22509885,Jenn,Me and two friends stayed for four and a half ...
4,2708,13994902,2014-06-09,10905424,Kuberan,i had a wonderful stay. Everything from start ...
...,...,...,...,...,...,...
316773,638566428861724511,640567800673543417,2022-06-02,461847266,Zoltan,Gabe was a great host. His apartment was clean...
316774,638566428861724511,642783790945054382,2022-06-05,439783703,Michael,Perfect location for what I wanted to do. Went...
316775,638566428861724511,644145189443851645,2022-06-07,436467589,Mary,The directions he gave were clear and everythi...
316776,639686013457311636,644179470202282321,2022-06-07,1729799,Caron,Great place inside. Comfortable beds and is ni...
316777,640034142960477648,643504953813785838,2022-06-06,236876009,Julioo,Perfect place to stay ..<br/>Close to Chicago ...

In [51]:
duplicates = concatenated_df[concatenated_df.duplicated(['rev_id'], keep=False)]
duplicates

,listing_id,rev_id,date,reviewer_id,reviewer_name,comments
776326,40756238,712254862,2020-11-29,341016183,Jocelyn,Great stay!
776327,40756238,743200894,2021-03-28,354884210,Ronald,The location is great & the pier is nearby to ...
776328,40756238,764342674,2021-05-30,47635763,Carol,We stayed over one night with our kids. The lo...
776329,40756238,409324747356711935,2021-07-18,176225459,Marco,Very good place on Manhattan
776330,40756238,442008270927132507,2021-09-01,419634104,James,Great hotel and they are updating their roofto...
...,...,...,...,...,...,...
790600,42065564,576835805306503978,2022-03-06,110634182,Frank,Perfect location. Great accommodations.
790601,42065564,617322949531833163,2022-05-01,156249952,James,"Good spot to stay, fun places to go around her..."
790602,42065564,628270687125026132,2022-05-16,18589447,Jane,This was a great small hotel in the heart of t...
790603,42065564,633303652636274745,2022-05-23,197171888,Ricardo,Great place!
790604,42065564,637650534668817116,2022-05-29,15709246,Bobby,Awesome location. Loved our stay. Highly recom...

In [55]:
concatenated_df = concatenated_df.drop_duplicates(subset=['rev_id'])
reviews_df  = concatenated_df
reviews_df

,listing_id,rev_id,date,reviewer_id,reviewer_name,comments
0,109,449036,2011-08-15,927861,Edwin,The host canceled my reservation the day befor...
1,45392,270172,2011-05-18,92047,Kristin,Olivia helped me with directions to arrive & l...
2,45392,377312,2011-07-16,323103,Jessie,Olivia was incredibly helpful and knowledgable...
3,109,74506539,2016-05-15,22509885,Jenn,Me and two friends stayed for four and a half ...
4,2708,13994902,2014-06-09,10905424,Kuberan,i had a wonderful stay. Everything from start ...
...,...,...,...,...,...,...
316773,638566428861724511,640567800673543417,2022-06-02,461847266,Zoltan,Gabe was a great host. His apartment was clean...
316774,638566428861724511,642783790945054382,2022-06-05,439783703,Michael,Perfect location for what I wanted to do. Went...
316775,638566428861724511,644145189443851645,2022-06-07,436467589,Mary,The directions he gave were clear and everythi...
316776,639686013457311636,644179470202282321,2022-06-07,1729799,Caron,Great place inside. Comfortable beds and is ni...
316777,640034142960477648,643504953813785838,2022-06-06,236876009,Julioo,Perfect place to stay ..<br/>Close to Chicago ...

In [54]:
concatenated_df.to_csv('reviews_cleaned.csv', index=False)
files.download('reviews_cleaned.csv')